.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #008b8b;
    color: #FFF;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}